
/* General */
:root {
    --nunito: "Nunito Sans", Georgia, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--nunito);
    background-image: url('./pics/white-background.jpg');
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

#tictactoe {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    width: 1200px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

/* Title */
#title {
    width: 1200px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

#title h1 {
    font-size: 3rem;
}

#title h2 {
    font-size: 2rem;
}

/* Register */
#register {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10rem; */

    background-color: whitesmoke;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#login {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* padding-top: 6rem; */
    padding-bottom: 2rem;
}

#login .loginWrap {
    display: flex;
    flex-flow: column wrap;
}

#textWrap {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

#login button {
    height: 70%;
    margin-top: 1.3rem;
}

/* Info */
#info {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    width: 550px;
}

#info p {
    padding-right: 0.5rem;
    padding-bottom: 1rem;

    font-size: 1.2rem;
}

/* Tictactoe layout */
.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    width: 550px;
    height: 550px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* border: 3px solid white; */
}

.grid-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((550px - 2rem)/3);
    height: calc((550px - 2rem)/3);
    font-size: 5rem;
    font-weight: bold;
}

.grid-item-hover:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

/* Status */
.status {
    display: flex;
    text-align: center;
    font-size: 15rem;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    
    justify-content: center;
    align-items: center;
}